.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.product-image {
    max-width: 50px; /* ปรับขนาดเท่ากับ 100px */
    max-height: 50px; /* ปรับขนาดเท่ากับ 100px */
    width: 50px; /* ให้ความกว้างของรูปปรับตามสัดส่วน */
    height: 50px; /* ให้ความสูงของรูปปรับตามสัดส่วน */
}

.product-details {
    text-align: left;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.product-price {
    font-size: 14px;
    font-weight: bold;
    color: #ff6f61;
    margin-bottom: 10px;
}

.add-to-cart-button {
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #ff5245;
}
