body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: rgba(135, 69, 211, 0.8);
    color: rgb(0, 0, 0);
    padding: 1rem 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh; /* กำหนดความสูงให้เต็มจอหน้าจอ */
    margin-bottom: 10px; /* เพิ่มขอบด้านล่าง */
}


h1 {
    text-align: left;
    display: inline-block;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:last-child a {
    background-color: #dc3545; /* สีของปุ่ม Logout */
    padding: 10px 20px;
    border-radius: 5px; /* ทำให้มีขอบโค้งบนปุ่ม */
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}

nav ul li:last-child a:hover {
    background-color: #bd2130; /* สีที่ปุ่มจะเปลี่ยนเมื่อนำเมาส์ไปวางบนปุ่ม */
}

.product-list {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-image {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}

.add-to-cart-button {
    background-color: #ff781f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #df5900;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* ย้ายช่องค้นหาไปทางขวา */
    margin-right: 20px; /* ขอบขวาของช่องค้นหา */
}

#search-input {
    padding: 11px; /* ปรับขนาดพื้นที่ padding */
    font-size: 23px; /* ปรับขนาดตัวอักษร */
    border: 0px solid #ccc;
}

#search-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 0;
    padding:  10.5px; /* ปรับขนาดของปุ่มค้นหา */
}

#search-button:hover {
    background-color: #ffffff;
}