body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: rgba(108, 7, 202, 0.8);
    color: white;
    padding: 1rem 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh; /* กำหนดความสูงให้เต็มจอหน้าจอ */
    margin-bottom: 10px; /* เพิ่มขอบด้านล่าง */
}


h1 {
    text-align: left;
    display: inline-block;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav form input[type="text"] {
    width: 300px; /* กำหนดความกว้างของช่องค้นหา */
    height: 20px; /* กำหนดความสูงของช่องค้นหา */
    font-size: 18px; /* กำหนดขนาดตัวอักษรในช่องค้นหา */
    padding: 10px; /* กำหนดระยะห่างของข้อความในช่องค้นหา */
    margin-right: 10px; /* กำหนดระยะห่างขวาของช่องค้นหา */
}

nav form button {
    height: 40px; /* กำหนดความสูงของปุ่มค้นหา */
    font-size: 20px; /* กำหนดขนาดตัวอักษรในปุ่มค้นหา */
    padding: 5px 20px; /* กำหนดระยะห่างของข้อความในปุ่มค้นหา */ 
}

.product-list {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-image {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}

.add-to-cart-button {
    background-color: #ff781f;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #df5900;
}
